body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  /* font-size: 200% */
}

h1 {
  color: #66bfbf;
  /* 16px = 100% = 1em */
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto 0;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.iphone-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* TO clear the float
.computer-skill-description {
    clear: left;
}

.iphone-skill-description {
    clear: right;
} */


.footer-link {
  color: #11999e;
}
